@model WoofMe.Models.DogListModels.NotAdoptedDogsModel

<head>
    <meta charset="utf-8" />
    <title>
        @{
            ViewData["Title"] = "Dogs looking for home";
        }
    </title>
</head>


<body>
<h4></h4>
    @if (Model.Doggies.Count() != 0)
    {
        var dogs = Model.Doggies.GetEnumerator();
        dogs.MoveNext();
        var cur = dogs.Current;
        var i = 1;
        while (cur != null)
        {
            <div class="section">
                <div class="container">
                    <div class="row">
                        @while (cur != null)
                        {
                            <div class="col-md-3">
                                <img src="~/images/@cur.Picture" style="object-fit: cover; border-radius: 50%" height="200" width="200" />
                                <h4><strong>@cur.Name</strong></h4>
                                <h5>@cur.Age, @cur.Race</h5>
                                <a asp-action="Detail" asp-route-id="@cur.Id"><strong>Details</strong></a>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    if (User.IsInRole("Employee"))
                                    {
                                        <a asp-action="Edit" asp-route-id="@cur.Id"><strong>Edit</strong></a>
                                    }
                                }
                            </div>
                            var flag = !dogs.MoveNext();
                            if (i++ % 4 == 0 || flag)
                            {
                                cur = dogs.Current;
                                break;
                            }
                            cur = dogs.Current;
                        }
                    </div>
                </div>
            </div>
            <hr />

        }

    }
    else
    {
        <hr />
        <h4>There are no dogs seaching for home. Yay!</h4>

    }
</body>